<% if @product_category.errors.any? %>
  <ul>
  <% @product_category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>


  <div class="ls-form">
    <br>
    <%= form_with model: @product_category do |f| %>
      <fieldset>
      <div class="ls-label col-md-4">
            <%= f.label :name, 'Nome',  class:"" %>
            <%= f.text_field :name, class: "" %>
      </div>
      
        <div class="ls-label col-md-4">
            <%= f.label :code, 'Codigo', class: "" %>
            <%= f.text_field :code, class: "" %>    
      </div>

   
        <%= f.submit 'Salvar', class: "ls-btn" %>

    
      </fieldset> 
      
    <% end %>
    <br>
    
  </div>


